
<div class="container p-0 text-center">
    <p class="fw-bold text-primary">¿Deseas cancelar la operacion?</p>

    <div class="container mt-2 mb-3 border-top border-bottom border-primary pt-1">
        <div class="row mt-3 mb-3">
            <p class="fw-bold text-danger opacity-75">Al cancelar perderas la informacion que editastes.</p>
        </div>
    </div>
    <div class="text-center mt-3 mb-3">
        <button onclick="cancelOperationCloseModal('confirm')" class="btn btn-secondary me-4">NO</button>
        <button onclick="cancelOperationCloseTwoModals('confirm','product')" class="btn btn-primary">SI</button>
    </div>
</div>
