@using DistribuidoraX.SitioWeb.Models.ProductSuplierModels
@model ProductSupplierModel

<div class="container">
    <p class="fw-bold text-danger">¿Deseas eliminar el registro?</p>

    <div class="container mt-2 mb-5 border-top border-bottom border-dark pt-1">
        <div class="row mt-3 mb-3">
            <div class="col-sm-6 col-md-6 text-sm-start text-lg-end">
                <label asp-for="SupplierName" class="fw-bold"></label><span class="fw-bold">:</span>
            </div>
            <div class="col-sm-6 col-md-6">
                <span>@Model.SupplierName</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 col-md-6 text-sm-start text-lg-end">
                <label asp-for="ProductSupplierCode" class="fw-bold"></label><span class="fw-bold">:</span>
            </div>
            <div class="col-sm-6 col-md-6">
                <span>@Model.ProductSupplierCode</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 col-md-6 text-sm-start text-lg-end">
                <label asp-for="ProductSupplierCost" class="fw-bold"></label><span class="fw-bold">:</span>
            </div>
            <div class="col-sm-6 col-md-6">
                <span>@Model.ProductSupplierCost.ToString("F", System.Globalization.CultureInfo.InvariantCulture)</span>
            </div>
        </div>
    </div>
    <div class="text-center mt-5 mb-3">
        <button onclick="cancelOperationCloseModal('delete')" class="btn btn-secondary me-4">NO</button>
        <button onclick="deleteProductSupplier(@Model.ProductSupplierItem)" class="btn btn-danger">SI</button>
    </div>
</div>
